@import '@fontsource-variable/inconsolata';
@import '@fontsource/anonymous-pro/400.css';
@import '@fontsource/anonymous-pro/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chinese Rocks';
  src: url('$lib/fonts/chinese-rocks-rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black;
  margin: 0;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  display: block;
}